*{
    font-family: 'Mukta', sans-serif;

}
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*header and footer*/
header.homepage{
    position: relative;
    height: 800px;
}
header.homepage:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: url("./img/forside.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainHeading {
    position: relative;
    text-shadow: 2px 2px white;
}

.mainHeading, #mainHeading {
    position: relative;
    font-size: 80px;
}
footer{
    background: black;
    color: white;
    text-align: center;
}
/*navigation bar*/
.homepage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-size: 25px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#reflection, #topicalinfo{
    float: right;
}

li a:hover {
    background-color: hsla(40, 30%, 80%, 20%);
}

/*headings*/
h1 {
    text-align:center;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    color: hsl(0,0%,0%);
}
h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: hsl(0,0%,0%);
}


/*homepage*/
.otherPages {
    display: flex;
    position: relative;
    text-align: center;
    color: hsl(0,0%,100%);
    overflow: auto;
}

.pics {
    flex: 25%;
    padding: 5px;
}
.pictureAndText{
    position: relative;
    text-align: center;
    color: white;
}

.text{
    position: absolute;
    top: 50%;
    left:10%;
    background-color: hsla(0, 0%, 90%,70%);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    width: 80%;
    color: hsl(0,0%,0%);

}
.info{
    color: hsl(0,0%,0%);
    text-align: left;
    position: relative;
    height: 200px;
    font-size: 15px;
}

h3 a{
    text-decoration: none;
    color: hsl(0,0%,0%);
}

/*Topical Information site*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.topical-nav {
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#reflection, #topicalinfo{
    float: right;
}
.floatRight{
    max-width: 70%;
}
li b:hover {
    background-color: hsla(80,100%,90%,20%);
}
header.topicalinfo{
    background-image: url("./img/AdobeStock_327948467.jpeg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;

}
.topicalinfo-text{
    margin: 0 auto;
    max-width: 1000px;
    font-size: 21px;
    line-height: 28px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}
.topicalinfo-list{
    margin-bottom: 10px;
}
.infoTopical {
    color: hsl(0, 0%, 0%);
    text-align: left;
    position: relative;
    height: 200px;
    font-size: 15px;
    top: 100px;
}

.pics-resources{
    flex: 33.33%;
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    color: white;
}
.flex-container .box {
    background-color: #042442;
    width: 100%;
    margin: 40px;
    text-align: center;
    line-height: 75px;
    font-size: 27px;

}

.centered {
    top: 50%;
    left: 50%;
    color: white;
    font-size: 80px;
}
#dissability {
    max-width: 100%;
    height: auto;
}

.resources {
    display: flex;
    position: relative;
    text-align: center;
    color: hsl(0,0%,100%);
    overflow: auto;
}

.pics-resources {
    flex: 25%;
    padding: 5px;
}

/*reflection*/
.reflectionBackground{
    background-image: url("./img/books.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.reflection{
    max-width: 750px;
    margin: auto;
}

.reflection p{
    font-size: 20px;
}
.reflection ul, .reflection li {
    all: revert;
    list-style: revert ;
    font-size: 20px;
}

mark{
    background-color: hsl(40, 30%, 80%);
}
footer{
     background: black;
     color: white;
     text-align: center;
 }
/

/*fun page*/
body.Fun-page {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}

.image-blur {
    transition: 1s;
    filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}